body {
  margin: 0;
  font-family: sans-serif;
  background: #0b141a;
  color: white;
}

/* Layout */
.mainLayout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111b21;
  padding: 20px;
}

.sidebar span {
  color: #25d366;
}

.menuItem {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.menuItem.active {
  background: #202c33;
  border-radius: 8px;
}

/* Voice */
.voiceArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  text-align: center;
}

.pulse {
  width: 120px;
  height: 120px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: 0.2s;
}

/* Chat */
.chatArea {
  width: 350px;
  background: #111b21;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  background: #202c33;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.msg.me {
  background: #005c4b;
}

.chatInput {
  display: flex;
  padding: 10px;
}

.chatInput input {
  flex: 1;
  padding: 10px;
}

.chatInput button {
  background: #25d366;
  border: none;
  padding: 10px;
}